:root {
    --naranja: #ff7800;
    --azul: #003296;
}

* {
    margin: 0;
    font-family: "Roboto Light", sans-serif;
}

.header-main-container{
    background: var(--azul);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 24px;
}

.header-main-container ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}

.header-main-container img{
    width: 64px;
    color: white;
}

.header-main-container ul li{
    padding: 0 25px 0 25px;
}

.header-main-container ul li a{
    color: white;
    text-decoration: none;
    transition: ease-out 0.1s;
}

.header-main-container ul li a:hover{
    color: var(--naranja);
    text-decoration: none;
    transition: ease-out 0.25s;
}
