:root {
    --naranja: #ff7800;
    --azul: #003296;
}

* {
    margin: 0;
    font-family: "Roboto Light", sans-serif;
}

.main-button-style {
    margin-top: 2rem;
    background: var(--naranja);
    color: white;
    font-size: 1.2rem;
    border: 0 solid black;
    border-radius: 15px;
    padding: 1rem;
    cursor: pointer;
}

.error-message {
    border: 1px solid #dc3545;
    background: #f6ccd0;
    padding: 10px;
    margin-top: 20px;
}

.response-message {
    border: 1px solid #28a745;
    background: #c1f0cc;
    padding: 10px;
    margin-top: 20px;
}

/* Header Styles */

.header-main-container {
    background: var(--azul);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 24px;
}

.header-main-container ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}

.header-main-container img {
    width: 64px;
    color: white;
}

.header-main-container ul li {
    padding: 0 25px 0 25px;
}

.header-main-container ul li a {
    color: white;
    text-decoration: none;
    transition: ease-out 0.1s;
}

.header-main-container ul li a:hover {
    color: var(--naranja);
    text-decoration: none;
    transition: ease-out 0.25s;
}

/* Login Styles */

.login-main-container {
    display: flex;
    flex-direction: row;
}

.login-left-banner {
    background: var(--azul);
    width: 35vw;
    height: 100vh;
    border-radius: 0 25px 25px 0;
    color: white;
}

.login-left-banner img {
    margin: 5rem 0 0 5rem;
    padding: 1rem;
    background: white;
    border-radius: 50px 20px 50px 20px;
    width: 200px;
}

.login-left-banner h2 {
    font-size: 2rem;
    padding: 5rem;
}

.login-left-banner p {
    font-size: 1.2rem;
    padding: 5rem;
}

.login-right-banner {
    width: 65vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px black;
}

.login-form-container h2 {
    color: var(--naranja);
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.login-form-container label {
    font-size: 1.2rem;
}

.login-form-container input {
    font-size: 1.2rem;
    border: 1px solid var(--azul);
    border-radius: 15px;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
}

.login-form-container p {
    color: var(--azul);
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.login-form-container a {
    color: var(--naranja);
    font-size: 1.2rem;
    transition: ease-out 0.25s;
}

.login-form-container a:hover {
    color: var(--azul);
    transition: ease-out 0.5s;
}

.login-return-button {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--naranja);
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    margin: 2rem;
    transition: ease-out 0.25s;
}

.login-return-button:hover {
    color: var(--azul);
    transition: ease-out 0.5s;
}

.login-register-button {
    text-decoration: none;
    color: var(--naranja);
    font-size: 1.2rem;
    cursor: pointer;
}

/* Platform Styles */
.platform-main-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.platform-operations {
    width: 45%;
}

.platform-operations h1 {
    color: var(--naranja);
    padding: 50px 0;
}

.operations-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    width: 100%;
}

.operations-grid-container a {
    font-size: 18px;
    padding: 30px;
    background: #fae6d8;
    border: 1px solid var(--naranja);
    border-radius: 10px;
    transition: ease-out 0.1s;
    text-decoration: none;
    color: black;
}

.operations-grid-container a:hover {
    transform: scale(1.05);
    transition: ease-out 0.2s;
}

.platform-accounts {
    width: 45%;
}

.platform-accounts h1 {
    color: var(--naranja);
    padding: 50px 0;
}

.accounts-container {
    overflow-y: auto;
}

.movements-container {
    overflow-y: auto;
    max-height: 30vh;
    padding-top: 25px;
}

.account {
    margin-bottom: 20px;
    padding: 20px;
    background: #f2f5f7;
    border: 1px solid #58656f;
}

.movement {
    margin-bottom: 20px;
    padding: 20px;
    background: #f2f5f7;
    border: 1px solid #58656f;
    text-align: left;
}

.movement p {
    font-size: 20px;
}

.movement span {
    font-weight: bolder;
}

.account h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.account p {
    font-size: 20px;
}

/* Create Account Page Styles */
.create-account-main-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.create-account-menu {
    text-align: center;
    background: #f2f5f7;
    border: 1px solid #58656f;
    padding: 50px;
    width: 50%;
}

.create-account-menu h1 {
    color: var(--naranja);
    padding: 25px;
}

.create-account-form {
    width: 80%;
    margin: auto;
    text-align: left;
}

.create-account-form p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.create-account-form input[type="text"] {
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

.radio-button {
    display: inline-block;
    width: 50%;
}

.radio-button label {
    font-size: 20px;
    padding: 10px;
}

.create-account-form input[type="radio"] {
    font-size: 20px;
}

/* Transfer Money Styles */
.combobox {
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

/* Movements Styles */

.combobox-movement {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Loan Request Styles */
.loan-request-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.loan-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: #f2f5f7;
    border: 1px solid #58656f;
    width: 50%;
}

.loan-form-container h1 {
    color: var(--naranja);
    padding: 25px;
}

.loan-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.loan-form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 25px 0;
}

.loan-form div p {
    margin-right: 20px;
}

.loan-form div input, select {
    font-size: 20px;
}

.loan-form p {
    font-size: 20px;
    margin-bottom: 10px;
}

.loan-form textarea {
    resize: none;
    width: 100%;
    height: 200px;
    font-size: 20px;
}

.loan-requests-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: #f2f5f7;
    border: 1px solid #58656f;
    width: 50%;
}

.loan-requests-div h1 {
    color: var(--naranja);
    padding: 25px;
}

.loan-tabs {
    width: 100%;
}

.tab-buttons button {
    background: #ff7800;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    margin-right: 20px;
}

.loan-request-item {
    display: flex;
    padding: 20px 10px;
    margin: 10px 0;
    border: 1px solid black;
}

.loan-request-item h2 {
    padding: 10px 0;
}

.loan-request-item p {
    font-size: 20px;
}


.loan-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
}

.loan-buttons button {
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

.create-account-menu div input {
    height: 16px;
    width: 16px;
}

.create-account-menu div label {
    margin-left: 10px;
    font-size: 16px;
}

.movement-table {
    width: 100%;
    border-collapse: collapse;
}

.movement-table th,
.movement-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.movement-table th {
    background-color: #f2f2f2;
}

.table-container {
    max-height: 400px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
}

.loanInfo-container {
    text-align: left;
    background: #f2f5f7;
    border: 1px solid #58656f;
    padding: 50px;
    width: 50%;
}

.loanInfo-container span {
    font-weight: bolder;

}

.loanInfo-container div {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 0;
}

.loanInfo-container h1 {
    color: var(--naranja);
    padding: 25px 0;
}

.loanJustification {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loanJustification p{
    text-align: justify;
}
