:root {
    --naranja: #ff7800;
    --azul: #003296;
}

* {
    margin: 0;
    font-family: "Roboto Light", sans-serif;
}

.main-container{
    display: flex;
    flex-direction: row;
}

.left-banner{
    background: var(--azul);
    width: 35vw;
    height: 100vh;
    border-radius: 0 25px 25px 0;
    color: white;
}

.left-banner img{
    margin: 5rem 0 0 5rem;
    padding: 1rem;
    background: white;
    border-radius: 50px 20px 50px 20px;
    width: 200px;
}

.left-banner h2{
    font-size: 2rem;
    padding: 5rem;
}

.left-banner p{
    font-size: 1.2rem;
    padding: 5rem;
}

.right-banner{
    width: 65vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    padding: 5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px black;
}

.login-container h2{
    color: var(--naranja);
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.login-container label{
    font-size: 1.2rem;
}

.login-container input{
    font-size: 1.2rem;
    border: 1px solid var(--azul);
    border-radius: 15px;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
}

.login-container div button{
    margin-top: 2rem;
    background: var(--naranja);
    color: white;
    font-size: 1.2rem;
    border: 0 solid black;
    border-radius: 15px;
    padding: 1rem;
    cursor: pointer;
}

.login-container p{
    color: var(--azul);
    margin-top: 5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.login-container a{
    color: var(--naranja);
    font-size: 1.2rem;
    transition: ease-out 0.25s;
}

.login-container a:hover{
    color: var(--azul);
    transition: ease-out 0.5s;
}

.return-button{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--naranja);
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
    margin: 2rem;
    transition: ease-out 0.25s;
}

.return-button:hover{
    color: var(--azul);
    transition: ease-out 0.5s;
}

.register-button {
    text-decoration: none;
    color: var(--naranja);
    font-size: 1.2rem;
    cursor: pointer;
}